<div class="col-sm-6 forecastWeather_M">
      
      <div>       
        <p>Five days forecast temperature</p>
        <hr>
        <table class="weatherTable_M">
          <tr>
            <td *ngFor="let w of forecastWeatherData.weekday">
              <span>{{w}}</span>
            </td>
          </tr>
          <tr>
            <td *ngFor="let i of forecastWeatherData.icon">
              <img [src]="i" alt="icon"/>
            </td>
          </tr>
          <tr>
            <td *ngFor="let t of forecastWeatherData.temp">
              <span>{{t}}</span>
            </td>
          </tr>  
        </table>        
      </div>  
      
      <div class="swithBox_M">       
        <p>Units switch</p>
        <hr>
        <app-switcher></app-switcher>      
      </div>   
        
      <div class="searchLocationBox_M">
        <p>Search another location</p>
        <hr>
        <app-location-search></app-location-search>
        <a href="http://www.wikihow.com/Enable-Location-Services-on-Google-Chrome" target="_blank">I can't see my location. Any advice?</a>
      </div>  
      
   </div>  