/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('./assets/bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-color: #1d1f20;
  background-attachment: fixed;
  background-position: center;
  
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
p, hr{
  padding:6px;
  margin:0;
}
i, span{
  vertical-align: middle;
}