<div class="col-sm-6 currentWeather_M"> 
        
        <!-- today date and time -->
        <div class="box_M">
          <i class="material-icons">date_range</i>
          <span>{{dateTimeNow | date:'fullDate'}} {{dateTimeNow | date:'mediumTime' }}</span>
        </div>

        <!-- geolocation - city and country -->
        <div class="box_M">
          <i class="material-icons">place</i>
          <span>{{geolocation.address}}</span>    
        </div>
        
        <!-- avarage temperature (big font) -->
        <div class="tempBox_M">
          <img [src]="currentWeather.tempIconLink" />
          <span>{{currentWeather.tempValue}}</span>
          <i [class]="unitType.unitIcon" alt="i"></i>
        </div>

        <!-- three rows of weather details (maxTemp, humidity, etc.) -->
        <table class="weatherTable_M">
          <tr>
            <td *ngFor="let iconLink of iconLinks">
              <img [src]="iconLink"/>
            </td>
          </tr>
          <tr>
            <td *ngFor="let otherParam of currentWeather.otherParamValues">
              <span>{{otherParam}}</span>
            </td>
          </tr>
           <tr>
             <td *ngFor="let utw of unitType.unitsForCurrentWeather">
              <span>{{utw}}</span>
            </td>
          </tr> 
        </table>  
        
    </div>